{{ define "main" }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>

<div class="content">

<div>
  {{ range .Site.Pages.GroupByDate "2006" }}
    {{ if ne .Key "0001" }}
    <h3>{{ .Key }}</h3>
    <table class="pure-table">
      <tbody>
        {{ range (where .Pages "Type" "post") }}
          {{ if .IsPage }}
            <tr>
              <td>{{ .Date | dateFormat "2006 Jan 02" }}</td>
              <td> <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></td>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>
    {{ end }}
  {{ end }}
</div>

</div>

{{ end }}
